section{
    height: 100vh;
    scroll-snap-align: start;
}

.section1{

    background-color: greenyellow;
}

.section2{

    background-color: pink;
}

.section3{

    background-color: aqua;
}

.container{
  
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    height: 100vh;
  }